
/*----------------------
 Global
-----------------------*/

html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    font-size: .7em;
    background-color: #bcc257; /* For browsers that do not support gradients */
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

a {
    text-decoration: none;
    color:#262626;
}

a:hover {
    color: #bcc257; 
}



.container {
    max-width: 60vw;
    margin: 50px auto;
    padding: 0 30px;
    box-shadow:5px 5px 10px 0px rgba(0,0,0,.2);
    background-color: white;
    border-radius: 10px;
}

section {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 20px 0 20px 0;
    border-bottom: 1px dotted lightgray;
}
section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 1.2em;
}


/*----------------------
 Contact info 
-----------------------*/

.my-photo {
    border-radius: 10% 10%;
    width: 100%;
    margin-top:35px;
}

.my-info-container {
    display:flex;
    flex-direction: column;
    margin: 30px 0;
}

.my-name {
    font-size: 4em;
    line-height: 1em;
}

.my-job-title {
    color: #7a7a7a; 
    margin-bottom: 20px;
    font-size: 1.5em;
}

.contact-item {
    margin-bottom: 7px;
}


/*----------------------
Work experiance
-----------------------*/

.job {
    border-bottom: 1px dotted lightgray;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.job:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.job-title-container {
    display:flex;
    justify-content: space-between;
}

.company-name {
    font-weight: bold;
    font-size: 1.2em;
    color:#7a7a7a;
}

.job-title {
    color:#7a7a7a;
}
 
/*----------------------
Education
-----------------------*/

.study-title-container {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.university-name {
    font-weight: bold;
    font-size: 1.2em;
    color:#7a7a7a;
}

.diploma-name {
    color:#7a7a7a;
}

/*----------------------
Skills
-----------------------*/

.skills-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.skills-container ul{
    list-style-type: circle;
    padding: 0;
}


footer {
    color: white;
    text-align: center;
}

/*----------------------
Media query 1
-----------------------*/

@media only screen and (max-width: 768px) {

    section {
        grid-template-columns: 1fr;
    }
        
    .container {
        max-width: 85vw;
        margin: 30px auto;
    }

    .my-photo {
        border-radius: 10% 10%;
        width: 50%;
    }

    .my-info-container, 
    .job-title-container,
    .study-title-container  {
        flex-direction: column;
    }
    }

/*----------------------
Media query 2
-----------------------*/

@media only screen and (max-width: 375px) {

    .container {
        max-width: 85vw;
        margin: 10px auto;
    }
    .skills-container{
        grid-template-columns: 1fr 1fr;
    }

    .my-photo {
        border-radius: 10% 10%;
        width: 100%;
    }
    .my-name {
        font-size: 2.5em;
    }

    }