* {
    box-sizing: border-box;
}

html {
    margin: 0;
    overflow-y: scroll;
    font-size: 100%;  
}

body {
    color: #222;
    font-family: sans-serif;
    background-color: #fff;
    line-height: 1.5em;
}

main {
    margin-top: 2em;
}

p, h1, h2, h3, h4 {
    font-size: 1em;
    letter-spacing: -0.025em;
    line-height: 1.375rem;
    margin: 0 0 0 0;
    max-width: 40rem;
    font-weight: normal;
}

img {
    max-width: 100%;
    filter: grayscale(100%);
}

ul {
    margin: 0;
    padding: 0 0 0 0;
}

.links {
    text-decoration: none;
    color: #222;
}

.links:hover {
    text-decoration: underline;
}

.site-inner-container {
    clear: both;
    position: relative;
    padding-bottom: 1em;
    padding-top: 3em;
}

/*---------------------------------
 Vertical stripes on the background  
 ----------------------------------*/

.bachground-columns {
    position: absolute;
    top: 0px;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
}

.column-1 {
    left: 16.66667%;
}

.column-2 {
    left: 33.33334%;
}

.column-3 {
    left: 50%;
}

.column-4 {
    left: 66.66667%;
}

.column-5 {
    left: 83.33334%;
}

/* -------------
 Navigation area 
----------------*/

.site-header {
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: -20px;
}

.site-header-left {
    padding: 7px 0 0 7%;
}

.site-header-right {
    padding: 7px 0 70px 2%;
}

.site-header-right-paragraph {
    padding-left: 2%;
    margin: 0 3% 70px 0;
}

.site-header-left h1 {
    font-size: 1.375em;
    font-weight: normal;
    letter-spacing: -0.0625em;
    color: #222;
}

.site-header h1:hover, a:hover {
    text-decoration: underline;
}

/* ----------------------
 Cards section area 
-------------------------*/

.main-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 2%;
    grid-gap: 3%;
} 

.cards-column-1 {
    grid-column: 1/3;
}

.cards-column-2 {
    grid-column: 3/5;
}

.cards-column-3 {
    grid-column: 5/7;
}

.card-container {
    position: relative;
}

.card-info {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0 0 16px;
    -webkit-filter: opacity(0%);
    width: 100%;
    height: 45%;
    max-height: 90px;
    z-index: 1;
}

.card:hover { 
    -webkit-filter: grayscale(0%);
    transition: all 200ms ease-in;
}

.card:hover ~ .card-info {
    -webkit-filter: opacity(75%);
    background-color: white;
    transition: all 800ms ease-in-out;
} 

.card-info p {
    font-size: 1.2em;
}



/* --------------------------
 Second menu section area 
----------------------------*/
.grid-cell-double-span {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 0 2% !important;
    grid-gap: 3%;
}

.grid-1 {
    grid-column: 3/4;
}

.grid-2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.grid-3 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.grid-4 {
    grid-column: 6/5;
    grid-row: 2/3;
}

.grid-5 {
    grid-column: 6/7;
    grid-row: 2/3;
}

.bottom-space-big {
    clear: both;
    padding-bottom: 6rem;
}

.four-columns a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    white-space: nowrap;
    font-size: 0.625rem;
    color: #222;
    text-decoration: none;
}

.four-columns a:hover {
    text-decoration: underline;
}

.grid-cell-double-span ul li {
    list-style: none;
}

.no-inner-padding {
    padding: 0.75em 0;
}

h4 {
    font-size: 0.625rem;
    padding: 0 0 0.625rem 2%;
}

/*-----------------------
 Footer 
 ------------------------*/

footer {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 0 2%;
    grid-gap: 3%;
}

.footer-column-1 {
    grid-column: 3/4;
}

.footer-column-title, 
.footer-column-description {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.625rem;
    color: #888;
    padding-bottom: 10%;
} 

.footer-column-description a {
    text-decoration: none;
    color: #888;
}

.footer-column-description a:hover {
    text-decoration: underline;
}

/* ----------------------
Media quiery - phones 
------------------------*/

@media only screen and (max-width: 600px) {
   
    .show-menu, 
    .bachground-columns {
        display: none;
    }  /* Hidden because i couldn't find out how to combine 
        Masonry style layout with CSS Grid in this case. 
        I need to do more research. */

    .site-header {
        grid-template-columns: 1fr;
    }

    .site-header-left {
        padding: 4% 0 4% 2%;
    }
    
    .site-header-right {
        padding: 20px 2% 0 2%;
    }
    
    .site-header-right-paragraph {
        padding-left: 2%;
        font-size: 0.875rem;
    }

    /*--------------------
    Media - cards section 
    ---------------------*/

    .main-section {
        grid-template-columns: 1fr 1fr;
    }

    .cards-column-1 {
        grid-column: 1/2
    }

    .cards-column-2 {
        grid-column: 2/3
    }

    .cards-column-3 {
        display: none;
    }
    .card-info {
        display:none;
    }
    

    /*----------------------
     Media last post section 
     -----------------------*/

    .grid-cell-double-span {
        grid-template-columns: 1fr;
    }

    .grid-1  {
        grid-column: 1/6;
    }

    .grid-2 {
        grid-column: 1/6;
        grid-row: 2/3;
    }

    .mobile-hide {
        display: none;
    }

    .four-columns li {
        width: 100%;
        border-bottom: solid 1px rgba(0, 0, 0, 0.075) 
    }

    .four-columns li:nth-child(1), 
    .last-bost-title-container {
        border-top: solid 1px rgba(0, 0, 0, 0.075) 
    }

    h4 {
        padding: 0;
    }
    
    /*----------
    Media Footer
    ----------- */
    footer {
        grid-template-columns: 1fr;
    }

    .footer-column-1 {
        grid-column: 1/7;
        grid-row: 1/2;
    }

    .footer-column-2 {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    .footer-column-3 {
        grid-column: 1/7;
        grid-row: 3/4;
    }

    .footer-column-4 {
        grid-column: 1/7;
        grid-row: 4/5;
    }

    .footer-column-title {
        padding-bottom: 0;
    }
    .footer-column-description {
        padding-bottom: 10px;
    }
}